#root{
    font-family: 'Montserrat';
}

.site{
    padding: 0px;
}

body{
    margin: 0px;
}

h1{
    color: #772fd6;
}

h2{
    color: #333336;
}

button{
    font-family: 'Montserrat';
    padding: 10px;
    margin: 10px;
}

input[type=submit]{
    font-family: 'Montserrat';
    padding: 10px;
    margin: 10px;
}

#landing{
    margin-top: 7%;
    width: 100%;
    text-align: center;
}

#header{
    width: 100%;
    text-align: right;
    background-color: #772fd6;
}

#logo{
    font-size:  60px;
}

.searchBar{
    font-family: 'Montserrat';
    font-size: 14px;
    height: 26px;
    margin: 15px;
    width: 80%;
    padding-left: 10px;
    border-radius: 15px;
    border: none;
    outline: none;
}

.navbarIcon{
    color: white;
}

.navbarLogo{
    color: white;
    margin-left: 20px;
    margin: 10px;
    padding: 10px;
}

.column {
    float: left;
    padding: 10px;
  }
  
  .left, .right {
    width: 20%;
  }

  .left{
      text-align: left;
  }

  .right{
      text-align: right;
  }
  
  .middle {
    width: 50%;
  }

  .left-body, .right-body {
    width: 13%;
  }

  .left-body{
      text-align: left;
  }

  .right-body{
      text-align: right;
  }
  
  .middle-body{
    width: 70%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .paperReference{
      border-color: #772fd6;
      border-radius: 10px;
      border-style: solid;
      padding: 20px;
      margin: 15px;
      transition-duration: 0.3s;
      cursor: pointer;
  }

  .abstract{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 12px;
  }

  .paperReference:hover{
    color:#772fd6;
}